@import "../../index.scss";
@import "../../assets/mixins.scss";

.services.bi {
  &-columns,
  &-code-square,
  &-kanban {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--first-color);
    margin-bottom: var(--mb-1);
  }
  &-x-lg {
    width: 1.25rem;
    height: 1.25rem;
    fill: var(--first-color);
  }
  &-check-circle {
    width: 1rem;
    height: 1rem;
    fill: var(--first-color);
    margin-right: var(--mb-1);
  }
}
