@import "../../index.scss";
@import "../../assets/mixins.scss";

.header.bi {
  &-grid,
  &-file-earmark-text,
  &-x-lg,
  &-send,
  &-images,
  &-briefcase,
  &-person,
  &-house {
    width: 1.25rem;
    height: 1.25rem;
  }
  &-sun,
  &-moon-stars {
    width: 1.25rem;
    height: 1.25rem;
    &:hover {
      color: var(--first-color);
    }
  }

  &-grid,
  &-file-earmark-text,
  &-x-lg,
  &-send,
  &-images,
  &-briefcase,
  &-person,
  &-house {
    @include onTablet {
      display: none;
    }
  }
}
