.contact.bi {
  &-geo-alt,
  &-telephone,
  &-envelope {
    width: 2rem;
    height: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
  }
  &-send {
    width: 1.25rem;
    height: 1.25rem;
    color: #fff;
  }
}
