@import "../../index.scss";
@import "../../assets/mixins.scss";

.section {
  padding: 2rem 0 4rem;
  @include onTablet {
    padding: 6rem 1rem 2rem;
  }
}
.container {
  display: grid;
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  gap: 2rem;
  @include onMediumTablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include onTablet {
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}
.title {
  text-align: center;
  font-size: var(--h1-font-size);
  color: var(--title-color);
}
.subtitle {
  display: block;
  text-align: center;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
  @include onTablet {
    margin-bottom: 4rem;
  }
}

.content {
}
.content__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2);
  cursor: pointer;
}
.content__title {
  font-size: var(--normal-font-size);
  @include onMediumTablet {
    font-size: var(--h3-font-size);
  }
}
.content__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}
.content__list {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transform: translateX(-100%);
  transition: 0.3s;
  &_open {
    display: grid;
    row-gap: 1rem;
    height: max-content;
    padding-left: 2.7rem;
    opacity: 1;
    transform: translateX(0);
  }
}
.content__item {
}
.item__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}
.item__name {
  font-size: var(--normal-font-size);
  font-weight: var(--medium-font);
}
.item__progress {
}
.item__skillbar,
.skillbar__progress {
  display: block;
  height: 5px;
  border-radius: 0.25rem;
}
.item__skillbar {
  margin-bottom: var(--mb-1);
  background-color: var(--first-color-lighter);
}
.skillbar__progress {
  background-color: var(--first-color);
}
.html,
.css {
  width: 90%;
}
.react,
.js {
  width: 80%;
}
.nodejs,
.express,
.strapi {
  width: 50%;
}
