@import "../../index.scss";
@import "../../assets/mixins.scss";

.home.bi {
  &-linkedin,
  &-github,
  &-instagram,
  &-send,
  &-arrow-down-short {
    width: 1.25rem;
    height: 1.25rem;
  }
  &-mouse2 {
    width: 2rem;
    height: 2rem;
  }
}
.home.bg-image__icon {
  width: 180px;
  fill: var(--first-color);
  z-index: 999;
  @include onMobile {
    width: 200px;
  }
  @include onMediumTablet {
    width: 250px;
  }
  @include onTablet {
    width: 320px;
  }
}
.bg-image {
  width: 170px;
}
