@import "../../index.scss";
@import "../../assets/mixins.scss";
.section {
  padding: 2rem 0 4rem;
  @include onTablet {
    padding: 6rem 1rem 2rem;
  }
}
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  gap: 1rem;
  @include onTablet {
    margin-left: auto;
    margin-right: auto;
    row-gap: 5rem;
  }
}
.wrapper {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 0.25fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
  @include onMediumTablet {
    grid-template-columns: max-content 1fr 1fr;
  }
  @include onTablet {
    padding-top: 5.5rem;
    column-gap: 2rem;
    grid-template-columns: max-content 1fr 1fr;
  }
  @include onDesktop {
    grid-template-columns: 0.5fr 3fr;
  }
}
.social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
  @include onLaptop {
    transform: translateX(-6rem);
  }
}
.social__link {
  color: var(--first-color);
}
.social__link:hover {
  color: var(--first-color-alt1);
}
.content {
  grid-column: 1/3;
  @include onMediumTablet {
    grid-column: initial;
  }
  @include onTablet {
    grid-column: initial;
  }
}
.image {
  @include onMediumTablet {
    order: 1;
    justify-self: center;
  }
  @include onTablet {
    order: 1;
    justify-self: center;
  }
}
.content__title {
  font-size: var(--big-font-size);
}
.content__subtitle {
  color: var(--text-color);
  font-size: var(--h3-font-size);
  font-weight: var((--font-medium));
  margin-bottom: var(--mb-0-75);
}
.content__description {
  margin-bottom: var(--mb-2);
}
.content__button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  border: none;
  cursor: pointer;
  background: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var((--font-medium));
  margin-bottom: var(--mb-2);
  transition: 0.3s;
}
.content__button:hover {
  background: var(--first-color-alt);
}
.scroll__button {
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--first-color);
  margin-top: var(--mb-1);
  transition: 0.3s;
  @include onLaptop {
    margin-top: 4rem;
  }
}
.scroll__button:hover {
  transform: translateY(0.25rem);
}
.scroll__text {
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var((--font-medium));
}
